.artist-square {
  /* background-color: #FFFFFF; */
  background: rgba(255, 255, 255, 0.05);
  height: inherit;
  text-align: center;
}

.content {
  margin: 1.5rem;
  font-size: 24px;
  color: #ffffff;
  background-color: #1E3264;
  width: 53%;
  padding: 12px 40px;
  text-align: left;
}

.artist-image {
    height: 175px;
    width: 175px;
}

.artist-row {
    margin-bottom: 2rem;
}
