.artist-square {
  background-color: transparent;
  border-style: solid;
  border-width: thin;
  border-color: #1db954;
  height: inherit;
  text-align: center;
}

.content {
  margin: 1.5rem;
}

.artist-row {
    margin-bottom: 1.5rem;
    height: 10rem;
}
