.artist-square {
  background-color: #FFFFFF;
  opacity: 0.25;
  height: inherit;
  text-align: center;
}

.content {
  margin: 1.5rem;
  font-size: 24px;
  color: #ffffff;
  background-color: #1E3264;
  width: 53%;
  opacity: 1.0;
}

.artist-row {
    margin-bottom: 1.5rem;
    height: 10rem;
}
